@import "../styles/helpers";
@import "../styles/base";

:host {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.post {
    margin-top: $title-bar-height + 1rem;
    flex: 1 1 0%;
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;

    &__inner {
        @extend .responsive-container;
    }
}

.post-metadata {
    text-align: center;

    &__title {
        @include font-size-xl;
        @include title-font;
        margin: 0 0 0.15em;
        word-wrap: break-word;
    }

    &__info {
        font-size: 0.8rem;
        color: rgb(100, 100, 100);
        font-weight: bold;

        @include if-larger-than-mobile() {
            font-size: 1rem;
        }
    }
}

.post-content {
    position: relative;

    &__admin-tools {
        position: absolute;
        top: 0%;
        right: 0%;

        @include if-larger-than-mobile() {
            right: unset;
            left: 100%;
        }
    }

    &__admin-tool {
        padding: 1rem;
        color: black;
        font-size: 1.5rem;
        text-shadow: 0px 0px 8px white;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
