<?xml version="1.0" encoding="UTF-8"?>

<!-- Routing configuration for IIS that redirects all non-file routes back to homepage for Angular to handle -->
<configuration>
    <system.webServer>
        <rewrite>
        <rules>
        <clear />

        <rule name="Angular Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
        </rule>

        </rules>
        </rewrite>
    </system.webServer>
</configuration>
